<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
</head>
<body>
    <a href='{% url 'product_list'%}'>вернуться в список товаров</a>
    <h1>{{ product.name }}</h1>
    <p>{{ product.description }}</p>
    <p>Price: ${{ product.price }}</p>
    {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" width="300" height="300">
    {% endif %}
</body>
</html>